<div class='row'>
  <div class='col-lg-3'></div>
  <div class='col-lg-6'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('views.users.edit.title')%></h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <div class='row'>
            <div class='col-lg-12'>
              <%= devise_error_messages! %>
            </div>
          </div>

          <div class='row'>
            <div class='col-lg-12'>
              <div class='row'>
                <div class='col-lg-4'>
                  <%= f.label :username %>
                  <p><small><i><%= t('views.users.edit.field.username.desc')%></i></small></p>
                </div>
                <div class='col-lg-8'>
                  <%= f.text_field :username, :validate => true, :class => 'form-control', :placeholder => t('views.users.edit.field.username.example') %>
                </div>
              </div><br/>
              <div class='row'>
                <div class='col-lg-4'>
                  <div><%= f.label :zipcode %></div>
                  <p><small><i><%= t('views.users.edit.field.zipcode.desc')%></i></small></p>
                </div>
                <div class='col-lg-8'>
                  <%= f.text_field :zipcode, :validate => true, :class => 'form-control', :placeholder => t('views.users.edit.field.zipcode.example') %>
                </div>
              </div><br/>
              <div class='row'>
                <div class='col-lg-4'>
                  <%= f.label :address %>
                  <p><small><i><%= t('views.users.edit.field.address.desc')%></i></small></p>
                </div>
                <div class='col-lg-8'>
                  <%= f.text_field :address, :validate => true, :class => 'form-control', :placeholder => t('views.users.edit.field.address.example') %>
                </div>
              </div><br/>
              <div class='row'>
                <div class='col-lg-4'>
                  <%= f.label :bdate %>
                  <p><small><i><%= t('views.users.edit.field.bdate.desc')%></i></small></p>
                </div>
                <div class='col-lg-8'>
                  <%= f.text_field :bdate, 'data-behaviour' => 'datepicker', :class => 'form-control', :placeholder => t('views.users.edit.field.bdate.example') %>
                </div>
              </div><br/>

              <% if @user.provider == "vkontakte" or @user.provider == "facebook"  %><div class="hidden">
              <% else %><div>
              <% end %>
                <div class='row'>
                  <div class='col-lg-4'>
                    <%= f.label :email %>
                    <p><small><i><%= t('views.users.edit.field.email.desc')%></i></small></p>
                  </div>
                  <div class='col-lg-8'>
                    <%= f.email_field :email, :class => 'form-control', :placeholder => t('views.users.edit.field.email.example') %>
                  </div>
                </div><br/>
                <div class='row'>
                  <div class='col-lg-4'>
                    <%= f.label :password %>
                    <p><small><i><%= t('views.users.edit.field.password.desc')%></i></small></p>
                  </div>
                  <div class='col-lg-8'>
                    <%= f.password_field :password, :autocomplete => "off", :class => 'form-control'  %>
                  </div>
                </div><br/>
                <div class='row'>
                  <div class='col-lg-4'>
                    <%= f.label :password_confirmation %>
                  </div>
                  <div class='col-lg-8'>
                    <%= f.password_field :password_confirmation, :class => 'form-control'  %></div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class='row'>
              <div class='col-lg-12'>
                <div class="btn-group btn-group-justified">
                <%= link_to t('views.users.edit.refresh'), "#",:onclick=>"$('form').submit()" ,:class => 'btn btn-primary' %>
                <%= link_to t('views.users.edit.destroy'), registration_path(resource_name), :data => { :confirm => t('views.users.edit.destroy_confirm') }, :method => :delete, :class => 'btn btn-danger' %>
                </div>
                <%= f.submit :style => 'position: absolute; left: -9999px' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-lg-3'></div>
</div>
