<% model_class = User.new.class %>
<div class='row well'>
<h2>Users</h2>
<table class="display" cellpadding="0" cellspacing="0" border="0" id="users-table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:activ) %></th>
      <th><%= model_class.human_attribute_name(:admin) %></th>
      <th><%= model_class.human_attribute_name(:mark) %></th>
      <th><%= model_class.human_attribute_name(:ZipCode) %></th>
      <th><%= model_class.human_attribute_name(:VKLiked) %></th>
      <th><%= model_class.human_attribute_name(:FBLiked) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.username, edit_user_path(user) %></td>
        <td>
          <% if user.activ %>
            <%= link_to 'True', toggle_active_user_path(user), :remote => false, :id => "active_link_#{user.id}", :class => 'btn btn-xs btn-success' %>
          <% else %>
            <%= link_to 'False', toggle_active_user_path(user), :remote => false, :id => "active_link_#{user.id}", :class => 'btn btn-xs btn-danger'%>
          <% end %>
        </td>
        <td>
          <% if user.admin %>
            <%= link_to 'True', toggle_admin_user_path(user), :remote => false, :id => "admin_link_#{user.id}", :class => 'btn btn-xs btn-success' %>
          <% else %>
            <%= link_to 'False', toggle_admin_user_path(user), :remote => false, :id => "admin_link_#{user.id}", :class => 'btn btn-xs btn-danger'%>
          <% end %>
        </td>
        <td><%= user.mark %></td>
        <td><%= user.zipcode %></td>
        <td><%= user.VKLiked %></td>
        <td><%= user.FBLiked %></td>
        <td><%= user.created_at %></td>
        <td>
          <% unless current_user.email == user.email  %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))}, :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class='row well'>
<h2>Presents</h2>
<table class="display" cellpadding="0" cellspacing="0" border="0" id="presents-table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>sender</th>
      <th>recipient</th>
      <th>created_at</th>
      <th>status</th>
      <th>Close</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @presents.each do |present| %>
      <tr>
        <td><%= present.id %></td>
        <td><%= link_to present.sender.username, edit_user_path(present.sender) %></td>
        <td><%= link_to present.recipient.username, edit_user_path(present.recipient) %></td>
        <td><%= present.created_at %></td>
        <td><%= present.status %></td>
        <td>
          <%= link_to 'Close', close_present_path(present, :code => present.code), :method => :get, :class => 'btn btn-xs btn-danger' %>
        </td>
        <td>
          <%= link_to 'Destroy', present, :method => :delete, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
