<div class='row'>
  <div class='col-lg-2'></div>
  <div class='col-lg-8'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='col-lg-7'>
          <h3><%= t('views.welcome.title')%></h3>
            <%= render 'layouts/carousel' %>
        </div>
        <div class='col-lg-5'>
          <h5><%= t('views.welcome.form.login_with') %></h5>
          <%=link_to image_tag("vk.png", :border => 0), user_omniauth_authorize_path(:vkontakte), :class => 'vk-login'%>
          <%=link_to image_tag("fb.png", :border => 0), user_omniauth_authorize_path(:facebook), :class => 'vk-login'%>
          <div class='hidden'><%=link_to image_tag("fb.png", :border => 0), user_omniauth_authorize_path(:vkontakte), :class => 'vk-login'%></div>
          <h5><%= t('views.welcome.form.or_form') %></h5>
          <%= form_for("user", :url => user_session_path, :html => {:class => 'well'}) do |f| %>
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
              <%= f.email_field :email, :class => 'form-control', :placeholder => t('views.welcome.form.email') %><br/>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <%= f.password_field :password, :class => 'form-control', :placeholder => t('views.welcome.form.password') %><br/>
            </div>
            <%= f.check_box :remember_me %> <%= f.label t('views.welcome.form.remember_me') %>
            <div class="btn-group btn-group-justified margin-bottom-sm">
              <%= link_to t('views.welcome.form.login'), "#",:onclick=>"$('form').submit()" ,:class => 'btn btn-primary' %>
              <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">Забыли пароль?</a>
            </div>
            <div class="btn-group btn-group-justified">
              <%= link_to t('views.welcome.form.register'), new_user_registration_path, :class => 'btn btn-warning btn-sm' %>
            </div>
            <%= f.submit :style => 'position: absolute; left: -9999px' %>
          <% end %>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Забыли пароль?</h4>
                </div>
                <div class="modal-body">
                  <%= render :template => 'devise/passwords/new' %>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-2'></div>
</div>
<%= render 'static/about'%>
<%= render 'layouts/vk_group'%>
