<div class="navbar-header">
  <%= link_to image_tag("home.png", :border => 0), root_path, :class => 'navbar-brand' %>
</div>

<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <% if user_admin %>
        <li>
        <%= link_to('Admin', admin_index_path) %>
        </li>
      <% end %>
      <li>
        <%= link_to('Акция', '#', :id => 'popover_bonuses', :content => '
		<table class="table table-striped table-bordered table-hover">
          <tbody>
            <tr>
              <td>Новогодний подарок</td>
              <td></td>
            </tr>
            <tr>
              <td>Рассказать друзьям VK</td>
              <td>Column content</td>
            </tr>
			<tr>
              <td>Рассказать друзьям FB</td>
              <td>Column content</td>
            </tr>
          </tbody>
        </table>
		') %>
      </li>
      <li>
        <%= link_to('С чего начать?', '#', :id => 'start-tour') %>
      </li>
      <li>
      <%= link_to('Настройки', edit_user_registration_path) %>
      </li>
    <% end %>
    <li>
      <%= link_to('Помочь проекту', '/help') %>
    </li>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Выйти', destroy_user_session_path, :method=>'delete') %>
      </li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right" id='tour_social'>
    <li>
      <div id="vk_like"></div>
      <script type="text/javascript">
      VK.Widgets.Like("vk_like", {type: "button", height: 24});
      </script>
    </li>
    <li>
      <div id="fb-root"></div>
      <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </li>
    <li>
      <%= render 'layouts/metrika' %>
    </li>
  </ul>
</div>
